{
  "tailwindConfig": "./tailwind.config.ts",
  "printWidth": 85,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "semi": false,

  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/src/types/(.*)$",
    "^@/src/lib/(.*)$",
    "^@/src/hooks/(.*)$",
    "^@/src/util(.*)$",
    "^@/src/components/ui/(.*)$",
    "^@/src/components/(.*)$",
    "^@/src/env(.*)$",
    "^@/src/modules/(.*)$",
    "^@/src/routes/(.*)$",
    "^@/src/styles/(.*)$",
    "",
    "^[./]"
  ],

  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
